%noscript
  %link{:href => "main-assets/css/noscript.css", :rel => "stylesheet"}/
/ Page Wrapper
#page-wrapper
  / Header
  %header#header.alt{:style => "background-color: #000000;"}
    %h1
      %a{:href => "index.html", :style => "color: #FFD700	;"} Just Diplomed Night 2019
  / Banner
  %section#banner
    .inner
      %h2{ :style => "color: #FFD700;"} Just Diplomed Night
      %p{ :style => "color: #FFD700;"}
        Le comité JDN 2019 est heureux de vous inviter pour une soirée d’exception sous le thème des oscars.
        %br/
        Le Samedi 16 Novembre 2019 à 19h30, au
        %a{href: 'https://www.google.com/maps/place/Hôtel+Mercure+Lille+Aéroport/@50.5838428,3.0907975,17z/data=!3m1!4b1!4m9!3m8!1s0x47c2d4275c36c0b1:0x16cb4a904f640e96!5m3!1s2018-10-14!4m1!1i2!8m2!3d50.5838428!4d3.0929862', target: '_blank'} Mercure Hotel de Lesquin.
      %ul.actions.special
        %li
          %a.button.primary{:href => "#new_reservation"} Réservez dès maintenant
    %a.more.scrolly{:href => "#one"} En savoir plus
  / One
  %section#one.wrapper.style1.special
    .inner
      %header.major
        %h2{ :style => "color: #FFD700;"}
          La JDN qu’est ce que c’est ?
        %p
          La JDN est
          %b LA
          soirée IG2Ienne de l’année. Elle permet aux élèves, aux anciens, aux professeurs, aux entreprises partenaires,
          mais surtout aux diplômés et leurs familles de fêter ensemble, autour d’un
          %b repas gastronomique
          suivi
          %b d’une soirée dansante,
          la remise des diplômes de la promotion sortante: la promotion 2019 !
          %br/
          La JDN est l’occasion pour les différentes promotions de se retrouver, de la première, sortie en 1997, aux L1 tout juste
          entrés (promotion 2024 !). 
          
  %section#one.wrapper.style4.special
    .inner
      %header
        %h2{ :style => "color: #FFD700;"} Le Programme de la soirée
  %section#two.wrapper.alt.style1
    %section.spotlight
      .image
        %img{:alt => "", :src => "images/repasGastro.jpg"}/
      .content
        %h2{ :style => "color: #FFD700;"}
          Un repas gastronomique de qualité
        %p From pastabox to Chef ⭐⭐⭐
    %section.spotlight
      .image
        %img{:alt => "", :src => "images/film.jpg"}/
      .content
        %h2{ :style => "color: #FFD700;"}
          Des films dédiés à la promotion 2019
        %p Tourné en étroite collaboration avec les élèves, mais aussi avec le personnel administratif et enseignants.
    %section.spotlight
      .image
        %img{:alt => "", :src => "images/soiréedansante.jpeg"}/
      .content
        %h2{ :style => "color: #FFD700;"}
          Un groupe de musique et une soirée dansante 
        %p Pour danser jusqu'au bout de la nuit.
  / Three
  %section#one.wrapper.style4.special
    .inner
      %header
        %h2{ :style => "color: #FFD700;"} Le Menu
        %p{ :style => "color: #FFFFFF;"}
          Entrée : 
          </br>
          Saumon gravelax aux agrumes 
          %br
          %br
          Plat :
          %br
          Magret de canard, jus épicé
          %br
          %br
          Dessert : 
          %br
          Assortiments de mignardises du Chef Pâtisier Christophe CHALOPIN
          %br/ 
          %br/
          Boissons inclues dans le menu.

        %h2{ :style => "color: #FFD700;"} Les Tarifs
        %p
          %h2 Gala : 
          %b 30€
          pour les diplomés et cotisants BDE
          %br/ 
          %b 35€ 
          pour toutes autres personnes
          %h5 Réservation obligatoire pour participer au gala avant le 06 novembre 2019.
          %br/
          %h2 Hôtel :
          %p{ :style => "color: #FFFFFF;"} L'hôtel met à disposition des chambres à tarifs préférenciels. 
          %b 75€
          la chambre 1 lit + petit-déjeuner (2 personnes).
          %br/ 
          %b 85€
          la chambre 2 lits + petit-déjeuner (4 personnes).
          %br/
          Taxe de séjour de 2€48 par personne. 
          %h6 
            Adresse de réservation: 
            %a{:href => 'mailto:H1098-RE@accor.com'} H1098-RE@accor.com 
            ou  03 20 87 46 46, merci de bien préciser CENTRAL LILLE IG2I. 
  / Footer
  %footer#footer
    = form_for @reservation, remote: true do |form|
      .flex-row.flex-column-small
        .flex-column
          %h4
            Vos informations
          = form.text_field :firstname, placeholder: 'Prénom', :required => true
          = form.text_field :lastname, placeholder: 'Nom', :required => true
          = form.text_field :phone_number, placeholder: 'Numéro de téléphone', :required => true
          = form.text_area :friends, placeholder: 'Nom des personnes accompagnantes si différent'
          %br/
          = form.label "Mode de paiement"
          = form.select :paiementMode, ["Sur place (liquide & chèque)","En ligne via lydia avant l'événement"]
          %i Pour les paiements avant l'événement nous vous enverrons une demande de paiement sur lydia via le numèro de téléphone utilisé lors de cette inscription.
        .flex-column
          %h4
            Votre réservation
          = form.collection_select(:table_id, @tables, :id, :name, prompt: 'Sélectionnez votre table (voir ci-dessous)')
          - @menus.each do |menu|
            = form.fields_for :reservation_menus, ReservationMenu.new do |rm|
              = rm.hidden_field :menu_id, value: menu.id
              %label.menu-label
                = "Nombre de menus \"#{menu.name}\""
              = rm.number_field :count, class: 'menu-input', :value => 0, :required => true, :min => 0, :max => 10
      .flex-row.flex-align-center.flex-justify-center
        = form.submit "S'inscrire"
    %a{ :download => "planTable.png", :href => "images/planTable.png" } plan de table
    #reservations
      - @tables.in_groups_of(4).each do |table_group|
        .flex-row.flex-column-small
          - table_group.each do |table|
            .flex-column.flex-column-small
              - unless table.nil?
                %table{:'data-table' => table.id}
                  %tr
                    %th
                      %b Table "#{table.name}"

                  - table.reservations.each do |reservation|
                    - reservation.number.times do
                      %tr
                        %td #{reservation.firstname} #{reservation.lastname}
                  - (table.capacity - table.reserved_places).times do
                    %tr
                      %td{:'data-empty' => true}
                        %i Place disponible

/ Scripts
= javascript_include_tag('/main-assets/js/jquery.min.js')
= javascript_include_tag('/main-assets/js/jquery.scrollex.min.js')
= javascript_include_tag('/main-assets/js/jquery.scrolly.min.js')
= javascript_include_tag('/main-assets/js/browser.min.js')
= javascript_include_tag('/main-assets/js/breakpoints.min.js')
= javascript_include_tag('/main-assets/js/util.js')
= javascript_include_tag('/main-assets/js/main.js')
